@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen-mobile-fix {
    height: 100svh;
  }
}

html {
  @apply bg-gray-900 p-0 m-0;
}

main {
  @apply flex flex-col h-screen-mobile-fix mx-auto max-w-[900px];
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
