@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-safe-h-screen {
    /* equivalent to 100dvh in major browsers */
    min-height: calc(
      100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
    );
  }
}

@supports (-webkit-touch-callout: none) {
  .min-safe-h-screen {
    /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
    min-height: -webkit-fill-available;
  }
}

html {
  @apply bg-gray-900 p-0 m-0;
}

main {
  @apply flex flex-col h-screen min-safe-h-screen mx-auto max-w-[900px];
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
